Repository skmtrd/next-tRPC-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome check, typecheck

lefthook.yml:

pre-commit:
  commands:
    biome check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check .  --no-errors-on-unmatched --files-ignore-unknown=true --colors=off
    typecheck:
      glob: "src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx tsc --noEmit

不要なpackage削除
  package.json
Due: biome check

pnpmに移行
  README.md
  biome.json
  package-lock.json
  pnpm-lock.yaml
  src/app/server/healthcheck/index.ts
  src/app/server/index.ts
  src/lib/prisma.ts
Due: biome check, typecheck

importを修正
  src/lib/prisma.ts
Due: biome check, typecheck

Update lefthook.yml
  lefthook.yml
Due: none

update ci
  .github/workflows/ci.yml
Due: none

trpcのエラーオブジェクトを設定
  src/app/server/trpc.ts
Due: biome check, typecheck

エラーハンドリングを追加
  src/app/(authenticated)/healthcheck/page.tsx
Due: biome check, typecheck

trpcのディレクトリー構造を修正
  src/app/api/trpc/[trpc]/healthcheck/index.ts
  src/app/api/trpc/[trpc]/index.ts
  src/app/api/trpc/[trpc]/route.ts
  src/app/server/index.ts
Due: biome check, typecheck

import修正
  src/lib/apiClient.ts
Due: biome check, typecheck

npmkからpnpmに変更
  lefthook.yml
Due: none

create project rules
  .cursor/rules/coding-rule.mdc
  .cursor/rules/dev-rules/rdb.mdc
  .cursor/rules/dev-rules/ts-js.mdc
  .cursor/rules/dev-rules/ui-ux.mdc
Due: none

prismaからdrrizleに移行
  README.md
  drizzle.config.ts
  drizzle/0000_secret_the_stranger.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250425211258_init/migration.sql
  prisma/migrations/20250503170715_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/auth.ts
  src/db/schema.ts
  src/lib/db.ts
  src/lib/prisma.ts
Due: biome check, typecheck

delete
  docker-compose.yml
Due: none

discord, githubログインを追加
  .env.example
  src/auth.ts
  src/components/common/PageContainer.tsx
  src/components/domain/(unauthenticated)/login/LoginPage.tsx
  src/lib/auth-client.ts
Due: biome check, typecheck

delete prisma generate
  .github/workflows/ci.yml
Due: none

ciをnpmからpnpmに移行
  .github/workflows/ci.yml
Due: none

pnpmバージョン指定
  package.json
Due: biome check

tursoにチューニング
  drizzle.config.ts
  drizzle/0000_amazing_firebird.sql
  drizzle/0000_secret_the_stranger.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  package-lock.json
  package.json
  src/auth.ts
  src/components/domain/(unauthenticated)/login/LoginPage.tsx
  src/db/schema.ts
  src/lib/db.ts
Due: biome check, typecheck

pnpm => npm
  pnpm-lock.yaml
Due: none

修正
  .vscode/settings.json
  package.json
  src/lib/db.ts
Due: biome check, typecheck

aaa
  .vscode/settings.json
  local.db
  local.db-shm
  local.db-wal
  src/app/(authenticated)/dashboard/page.tsx
  src/app/actions/getUserInfo.ts
  src/components/domain/(authenticated)/dashboard/DashboardPage.tsx
  src/components/domain/(authenticated)/dashboard/UserInfoCard.tsx
  src/types/user.ts
Due: biome check, typecheck
